.element{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.review{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
    gap: 3rem;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.date{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.title h1{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.context{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-self: center;
}
.rate{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 1rem;

}